/* General */

html,
body {
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

}

@media only screen and (min-width: 1600px) {
    html, body {
        width: 80%;
        margin: 0 auto;
        background-color: #40A578;
    }
}

/* Navbar */

nav {
    display: flex;
    align-items: center;
    position: relative;
    height: 4rem;
    padding: 0 24px;
    background-color: white;
    border-bottom: 3px solid #dddddd;
    top: 0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
}

nav .logo {
    display: flex;
    margin-left: 24px;
}

nav .bold {
    font-weight: 900;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-left: auto;
    margin-right: 24px;
}

/* Banner */

header {
    display: flex;
    align-items: center;
    background-color: #dcdcdc;
}

.banner {
    margin: 32px 24px 32px;
    width: 60%;
}

.content {
    opacity: 0.5;
    font-size: 1.5rem;
    padding: 1rem;
}

.content p {
    margin-top: 30px;
}

.button {
    background-color: #000000;
    color: white;
    padding: 8px 60px;
    border-radius: 4px;
    text-decoration: none;
}

/* Main */

#main {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.main-content {
    width: 60%;
}

.main-content h1,
.main-content h4, 
.main-content p {
    margin-left: 24px;
}

.main-banner {
    margin: 32px 24px;
    width: 100%;
}

#main .images-container {
    width: 35%;
}

#main .image-content {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    align-items: center;
    padding: 24px;
}

#main .image-content:last-child {
    background-color: rgba(0, 0, 0, 0.3);
}

#main .image-content img {
    height: auto;
    width: 40%;
    margin: 1rem;
}

#main .image-text {
    margin-right: 1rem;
    width: 60%;
}

/* Courses */

#courses {
    background-color: #ececec;
    padding: 32px 72px;
}

#courses h1 {
    text-align: center;
}

#courses .image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#courses .image-content img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

#courses .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

#courses .images-container .first-row,
#courses .images-container .second-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#courses .images-container h3,
#courses .images-container h4,
#courses .images-container p {
    margin: 16px 0;
    text-align: center;
}

#courses .image-content h3,
#courses .image-content h4,
#courses .image-content p {
    margin: 0 0 16px;
}

/* Thesis Exhibit */

#exhibit {
    background-color: white;
}

.exhibit-title {
    text-align: center;
    padding: 2rem 0;
    margin: 0;
}

#exhibit .last {
    display: flex;
    justify-content: space-between;
}

#exhibit .exhibit-video {
    width: 60%;
    margin: 0 24px 24px 24px;
}

#exhibit .exhibit-video video {
    width: 100%;
}

#exhibit .exhibit-content {
    width: 40%;
}

#exhibit .exhibit-content .image-content {
    display: flex;
    flex-direction: space-between;
    align-items: center;
}

#exhibit .exhibit-content .image-content .image-text {
    float: right;
}

#exhibit .exhibit-content .image-content img {
    width: 35%;
    height: auto;
    margin: 16px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    padding-bottom: 24px;
    background-color: #ececec;
}